@model IEnumerable<IspitiNRAKO.Administrator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administratori</h2>
<p>
    @Html.ActionLink("Postavi administratora grupe", "AdminGrupa")
</p>
<p>
    @Html.ActionLink("Kreiraj administratora", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razina)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.IdAdministrator }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IdAdministrator }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.IdAdministrator })
        </td>
    </tr>
}

</table>
