@model IspitiNRAKO.Models.IspitManager
@{
    ViewBag.Title = "Odgovori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pitanja</title>
    
</head>
<body>
    

    <div>
        <h2 id="countdown"></h2>
    </div>
    <br />

    <div style="float:left">
        <ul>
            @{int counter = 1; }
            @foreach (IspitiNRAKO.Models.PitanjeManager item in Model.Pitanja)
            {
                if (item.Odgovoreno == 0)
                {
                    <li>
                        @Html.ActionLink("Pitanje " + counter, "Odgovori", new { id = item.Pitanje.IdPitanje }, new { @class = "btn btn-primary" })
                    </li>
                }
                else
                {
                    <li>
                        Pitanje @counter
                    </li>
                }
                counter++;
            }
        </ul>
    </div>
    
    
    @using (Html.BeginForm())
    {
        <div class="form-horizontal" style="float:left; margin-left:100px">
            <ul>
                <h3>@ViewBag.Tekst</h3>
                @foreach (IspitiNRAKO.Models.PitanjeManager item in Model.Pitanja)
                {
                    if (item.Pitanje.IdPitanje == ViewBag.IdPitanje)
                    {
                        @Html.Hidden("idPitanje", item.Pitanje.IdPitanje)
                        foreach (IspitiNRAKO.Odgovor odgovor in item.Pitanje.Odgovors)
                        {
                            <li>
                                @odgovor.Tekst
                                <input type="checkbox" id=@odgovor.IdOdgovor.ToString() name=@odgovor.IdOdgovor.ToString() value="false"  />
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        if (Int32.Parse(Session["Kraj"].ToString()) != 1)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Odgovori" class="btn btn-default" />
                </div>
            </div>
        }

    }
    @if (Int32.Parse(Session["Kraj"].ToString()) == 1)
    {
        using (Html.BeginForm("Kraj", "MojIspit"))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zavrsi" class="btn btn-default" />
                </div>
            </div>
        }
    }

    @Scripts.Render("~/bundles/jquery")
    <script>
            var dt = '@Session["EndDate"]';
            var dateAr = dt.split('-');
            var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

            var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById('countdown').innerHTML = 'Vrijeme isteklo!';
                    window.location.href = '/Login/Login';

                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);

                //document.getElementById('countdown').innerHTML = days + 'days ';
                //document.getElementById('countdown').innerHTML = hours + 'hrs ';
                document.getElementById('countdown').innerHTML = minutes + 'mins ';
                document.getElementById('countdown').innerHTML += seconds + 'secs';
            }

            timer = setInterval(showRemaining, 1000);
    </script>


</body>
</html>

